@namespace dc "http://purl.org/dc/elements/1.1/";

/* Metadata Rules */
meta  {
    display:            block;
    border-style:       solid;
    border-width:       1pt;  
    border-color:       gray;
    margin-left:	    3pt;
    margin-top:         3pt;
    margin-bottom:	    3pt;
    width:   	        600pt;
    text-align:         left;
    text-indent:        12pt;
    font-size: 			10pt;
}

meta:before  {
    display:            inline;
    color:              gray;
    font-size:          12pt;
    font-weight:        bold;
    content:            "[Metadata]";
}

meta > title  {
    display:            block;
    margin-top:         0pt;
    margin-bottom:      0pt;
    text-align:         left;
    font-size:          10pt;
}

meta > title:before {
    display:            inline;
    color:              gray;
    content:            "Title: ";
}

meta > type  {
    display:            block;
}

meta > type:before  {
    display:            inline;
    color:              gray;
    content:            "Doc Type: ";
}

docNumber  {
    display:            block;
}

docNumber:before {
    display:            inline;
    color:              gray;
    content:            "Doc Number: ";
}

docReleasePoint  {
    display:            block;
}

docReleasePoint:before {
    display:            inline;
    color:              gray;
    content:            "Doc Release Point: ";
}

issued  {
    display:            block;
}

issued:before {
    display:            inline;
    color:              gray;
    content:            "Issue Date: ";
}

meta > identifier  {
    display:            block;
}

meta > identifier:before {
    display:            inline;
    color:              gray;
    content:            "Identifier: ";
}

docPublicationName  {
    display:            block;
}

docPublicationName:before {
    display:            inline;
    color:              gray;
    content:            "Pub Name: ";
}

publisher  {
    display:            block;
}

publisher:before {
    display:            inline;
    color:              gray;
    content:            "Publisher: ";
}

copyright  {
    display:            block;
}

copyright:before {
    display:            inline;
    color:              gray;
    content:            "Copyright: ";
}

created  {
    display:            block;
}

created:before {
    display:            inline;
    color:              gray;
    content:            "Created On: ";
}

creator  {
    display:            block;
}

creator:before {
    display:            inline;
    color:              gray;
    content:            "Created By: ";
}

main  {
    display:            block;
    margin-left:        24pt;
    margin-right:       24pt;
    font-family:        sans-serif;
}


/* Big-level rules */
title, subtitle, chapter, subchapter, part, subpart, division, subdivision, level  {
    display:            block;
    margin-top:         50pt;
    margin-bottom:      3pt;
    text-align:         center;
}

title, subtitle, chapter, subchapter, division, subdivision, level  {
    font-size:          11pt;
}

part, subpart  {
    font-size:          14pt;
}

part[status] > num {
    color:              red;
}

part[status] > heading {
    color:              red;
}

heading {
    font-weight:        bold;
    display:            inline;
}


/* ToC rules */
toc {
    border-style:       solid;
    border-color:       gray;
    border-width:       1pt;    
    margin-left:	    0pt;
    margin-top:         24pt;
    margin-bottom:	    3pt;
    margin-right:       12pt;
    text-align:         left;
    display:            table;
}

toc > layout > header {
    display:            table-row;
    font-size:          12pt;
}

toc > layout > header[role="tocColumnHeader"]  {
    display:            table-row;
    font-size:          8pt;
}

toc > layout > header[tocSubchapterHeader]  {
    display:            block;
    font-size:          8pt;
    text-align:         center;
}

tocItem {
    display:            table-row;
    font-size:          10pt;
}

column {
    display:            table-cell;
}

column[class="threeColumnLeft"]  {
    width:              50pt;
    font-weight:        bold;
}

column[class="threeColumnMiddle"]  {
    width:              300pt;
    font-weight:        bold;
}

column[class="threeColumnRight"]  {
    width:              200pt;
    font-weight:        bold;
}

column[class="twoColumnLeft"]  {
    width:              50pt;
}

column[class="twoColumnRight"]  {
    width:              500pt;
}


/* Section element rules */
section {
    display:            block;
    margin-top:         24pt;
    margin-bottom:		3pt;
    margin-left:        0pt;
    text-align:         left;
    font-weight:        normal;
    font-size: 			11pt;
}

section > num  {
    margin-left:        0pt;
    font-size:          12pt;
}

section > heading:after {
    display:            block;
    content:            " ";
}

section > heading {
    font-weight:        bold;
    font-size:          12pt;
}

section[status] > num {
    color:              red;
}

section[status] > heading {
    color:              red;
}

section > content  {
    display:            block;
    text-indent:        12pt;
}


/* Below section element rules */
subsection, paragraph, subparagraph, clause, subclause, item,
subitem, subsubitem {
    display:            block;
    margin-top:         3pt;
    margin-left:        12pt;
    margin-bottom:		3pt;
    text-align:         left;
    text-indent:        12pt;
    font-size: 			11pt;
}

subsection[status] > num {
    color:              red;
}

subsection[status] > content {
  color:                red;
}

paragraph[style="indent-up1"] {
    margin-left:        0pt;
}

chapeau  {
    display:        inline;
    text-indent:    12pt;
}

chapeau[class~="blockIndent0"]  {
    display:        block;
    margin-left:    0pt;
    text-indent:    12pt;
}

chapeau[class~="blockIndent1"]  {
    display:        block;
    margin-left:    12pt;
    text-indent:    12pt;
}

chapeau[class~="blockIndent2"]  {
    display:        block;
    margin-left:    24pt;
    text-indent:    12pt;
}

continuation  {
    display:        block;
}


/* Notes and References */

notes {
    display:                    block;
    margin-top:                 3pt;
    margin-bottom:		        3pt;
    margin-left:                0pt;
    color:                      black;
    font-weight:                normal;
}

sourceCredit {
    display:                    block;
    margin-left:	            0pt;
    margin-top:                 3pt;
    margin-bottom:		        3pt;
    text-align:                 left;
    text-indent:                0pt;
    font-size: 			        11pt;
    font-weight: 			    normal;
}

sourceCredit > p  {
    text-indent:                0pt;
}

note    {
    display:                    block;
    margin-bottom:		        3pt;
    margin-right:               24pt;
    text-align:                 left;
    text-indent:                0pt;
    font-size: 			        11pt;
    font-weight:                normal;
}

note > heading {
    margin-top:                 24pt;
    font-size:          	    11pt;
    font-variant: 		        small-caps;
    color:                      maroon;
    text-align:                 center;
    display:                    block;
    font-weight:                normal;
}

note[type="footnote"]    {
    display:                    block;
    margin-left:	            6pt;
    margin-top:                 0pt;
    margin-bottom:		        0pt;
    margin-right:		        6pt;
    text-align:                 left;
    text-indent:                0pt;
    font-size: 			        10pt;
    color:                      green;
}

note[type="footnote"] > num  {
    vertical-align:             super;
    color:                      green;
    font-size:                  x-small;
}

ref[class="footnoteRef"] {
    font-weight:                bold;
    font-size:                  x-small;
    vertical-align:             super;
    color:                      green;
}

note[topic="enacting"] > p   {
    display:                    block;
    margin-left:                24pt;
    margin-right:               24pt;
    margin-top:                 0pt;
    margin-bottom:		        0pt;
    text-align:                 center;
    font-size: 			        11pt;
    font-style:                 italic;
}

ref {
    color:                      Blue;
}

/* General Content Item Rules */
[class~="centered"]  {
    display:                    block;
    margin-left:                0pt;
    text-align:                 center;
}

[class~="indent-1"]  {
    display:                    block;
    margin-left:                0pt;
    text-align:                 center;
}

[class~="indent0"]  {
    display:                    block;
    margin-left:                0pt;
    text-align:                 left;
    text-indent:                12pt;
}

[class~="indent1"]  {
    display:                    block;
    margin-left:                12pt;
    text-align:                 left;
    text-indent:                12pt;
}

[class~="indent2"]  {
    display:                    block;
    margin-left:                24pt;
    text-align:                 left;
    text-indent:                12pt;
}

[class~="indent3"]  {
    display:                    block;
    margin-left:                36pt;
    text-align:                 left;
    text-indent:                12pt;
}

[class~="fontsize7"]  {
    font-size:                  10pt;
}

p  {
    display:                    block;
    margin-left:                0pt;
    text-indent:                12pt;
}

num  {
    font-weight:                bold;
}

text {
    text-indent:                12pt;
}

continuation {
    display:                    block;
    text-indent: 		        0pt;
}

quotedContent {
    color:                      MidnightBlue;
    display:                    inline;
}

quotedContent > section  {
    display:                    block;
    margin-top:                 3pt;
}

ul {
    display:                    block;
    margin-top:                 0pt;
    margin-bottom:              0pt;
    margin-left:                -18pt;
}

li {
    display:                    block;
    margin-left:                12pt;
    text-align:                 left;
}

sup {
    vertical-align:             super;
    font-size:                  small;
}

sub {
    vertical-align:             sub;
    font-size:                  small;
}

italic {
    font-style:                 italic;
}

bold {
    font-weight:                bold;
}

date {
    color:                      DarkBlue;
}

inline  {
    display: inline;
}

[class="small-caps"]  {
    font-variant: small-caps;
}

def  {
    display: inline;
}

term  {
    display: inline;
    font-variant: small-caps;
}

br  {
    display:            block;
}

longTitle  {
    display:                    block;
    text-align:                 left;
    text-indent:                12pt;
}

enactingFormula  {
    display:                    block;
    text-align:                 left;
    text-indent:                12pt;
}


/* Tables */
table {
    display:                    block;
    border-style:               none;
    border-color:               black;
    margin-top:                 12pt;
    margin-bottom:		        10pt;
    margin-left:		        24pt;
    margin-right:		        24pt;
    text-align:                 center;
    border-collapse:collapse;
}

colgroup {
    display:                    table-column-group
}

col {
    display:                    table-column
}

thead {
    display:                    table-header-group;
	text-align: center;
	margin: 3pt;
}

tbody {
    display:                    table-row-group;
	font-family:                Ionic, Times, serif;
	font-size:                  7pt;
	text-align:                 justify;
}

tr  {
    display:                    table-row;    
}

td, th  {
    display:                    table-cell;    
    font-weight : normal;
    padding: 0pt;
}

/* XHTML Tables formatting */
body {
	font-family: Ionic, Times, serif;
	font-size: 7pt;
	text-align:justify;
}

.thinsp {
width: 0.16em;
display: inline-block;
}

.small-caps {
	font-variant:small-caps;
}

.sectionNumber{
	font-weight:bold;
}

.title{
	font-size:10pt;
	font-family:CenturySchoolbook, NewCenturySchlbk, TimesNewRoman, Times, Serif;
	font-weight:bold;
	margin-bottom:6pt;
	text-align:center; 
}

tr.headers
{
    vertical-align: middle; text-align:center;
}

td > p { margin:0pt; }
th > p { margin: 0pt; margin-left:4pt; margin-right:4pt; }

p.leaders {
    max-width: 40em;
    padding: 0;
    baseline-shift: baseline;
    overflow-x: hidden;
    list-style: none
}

p.leaders span:after {
    float: left;
    width: 0;
    baseline-shift: baseline;
    white-space: nowrap;
    content:
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
}

p.leaders span:first-child {
    padding-right: 0.33em;
    background: white
}
